@charset "utf-8";
/*思想*/
.sx1{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 5%;background: rgba(255,51,51,0.8);margin-top:15%; }
.ssx{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding-top: 15%;background: rgba(255,51,51,0.5);}
.sx1 h1{font-size: 0.46rem;color:#fff;line-height: 0.56rem;font-weight: normal;}
.sx1 .xian1{margin: 1rem auto;width:40%;height: 0.03rem;background: #fff;}
.sx1 p{width: 80%;text-align: left;font-size: 0.36rem;line-height: 0.45rem;color: #fff;margin: 0.35rem auto;font-weight: normal;letter-spacing: 0;opacity: 0.9;}
.sx1 p:nth-child(3){background: url(../images/zhuzuo.png) top center no-repeat;padding-top: 0.9rem;margin-top: -0.2rem;}
.sx1 p:nth-child(4){background: url(../images/luoma.png) top center no-repeat;padding-top: 0.9rem;}
.sx1 p:nth-child(5){background: url(../images/jiangbei.png) top center no-repeat;padding-top: 0.9rem;}
.sx1 p:nth-child(6){background: url(../images/gongming.png) top center no-repeat;padding-top: 0.9rem;}

.sx2{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 10%;background:#F2F2F2;}
.sx2 h1{font-size: 0.46rem;color:#4A4A4A;line-height: 0.56rem;font-weight: normal;}
.sx2 p{width: 80%;text-align: left;font-size: 0.32rem;line-height: 0.46rem;color: #4A4A4A;margin: 0.35rem 0;font-weight: normal;letter-spacing: 0;opacity: 0.9;margin-left: -0.14rem;}
.sx2 i{display: inline-block; font-size: 0.4rem;color:#4A4A4A;line-height: 0.56rem;font-weight: normal;font-style: normal;opacity: 1;}
.sx2 p:nth-child(2){background: url(../images/jidezhu.png) left top no-repeat;padding-left: 1.3rem;}
.sx2 p:nth-child(3){background: url(../images/nengzhuanshu.png) left top no-repeat;padding-left: 1.3rem;}
.sx2 p:nth-child(4){background: url(../images/chengxitong.png) left top no-repeat;padding-left: 1.3rem;}


/*知识服务*/
.fw1{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 5%;background: rgba(255,51,51,0.8);margin-top:15%; }
.fw1 h1{font-size: 0.46rem;color:#fff;line-height: 0.56rem;font-weight: normal;margin-top: 0.5rem;}
.fw1 .xian2{margin: 0 auto;margin-top: 0.8rem;margin-bottom: 0.5rem; width:55%;height: 0.03rem;background: #fff;}
.fw1 p{width: 58%;text-align: left;font-size: 0.36rem;line-height: 0.48rem;color: #fff;margin: 0.35rem 0;margin-left: 0.1rem; font-weight: normal;letter-spacing: 0;}
.fw1 p:nth-child(3){width: 70%;}

.fw2{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 10%;background:#F2F2F2;}
.fw2 h1{width: 60%;text-align: left; font-size: 0.4rem;color:#4A4A4A;line-height: 0.56rem;font-weight: normal;}
.fw2 p{width: 100%;text-align: left;font-size: 0.32rem;line-height: 0.46rem;color: #4A4A4A;margin: 0.35rem 0;font-weight: normal;letter-spacing: 0;opacity: 0.9;}
.im1 img{height:9.46rem;  position: absolute;top: 4.1rem;right: 12%;z-index: 333;}
.im2 img{height:6rem;  position: absolute;top: 3.4rem;right: 12%;z-index: 333;}


/*数据情感*/
.qg1{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 10%;background: rgba(255,51,51,0.8);margin-top:15%; }
.qg1 h1{font-size: 0.46rem;color:#fff;line-height: 0.6rem;font-weight: normal;margin-top: 0.5rem;}
.qg1 .xian3{margin: 0.6rem auto; width:55%;height: 0.03rem;background: #fff;}
.qg1 p{width: 100%;text-align: left;font-size: 0.36rem;line-height: 0.48rem;color: #fff;margin: 0.6rem auto; font-weight: normal;letter-spacing: 0;}

.qg2{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 10%;background:#F2F2F2;margin-bottom: 3rem;}
.qg2 h1{width: 100%;text-align: left; font-size: 0.33rem;color:#4A4A4A;line-height: 0.56rem;font-weight: normal;}
.qg2 p{width: 100%;text-align: left;font-size: 0.3rem;line-height: 0.42rem;color: #4A4A4A;font-weight: normal;letter-spacing: 0;opacity: 0.9;}
.qg2 .lis_qg{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;}
.qg2 .lis_qg li{width: 50%;float: left;}
.qg2 .lis_qg li p{margin: 0.2rem 0;line-height: 0.46rem;}
.qg2 .lis_qg .pp1{background: url(../images/zhishi.png) left center no-repeat;padding-left: 0.85rem;}
.qg2 .lis_qg .pp2{background: url(../images/shiwu.png) left center no-repeat;padding-left: 0.85rem;}
.qg2 .lis_qg .pp3{background: url(../images/jinrong.png) left center no-repeat;padding-left: 0.85rem;}
.qg2 .lis_qg .pp4{background: url(../images/renli.png) left center no-repeat;padding-left: 0.85rem;}
.qg2 p:nth-child(2){margin-bottom: 0.3rem;}
.qg2 .last_p{margin: 0.3rem 0;}



.qg3{width: 100%;height: auto;box-sizing: border-box;overflow: hidden;padding: 10%;background:#F2F2F2;}
.qg3 h1{width: 100%;text-align: left; font-size: 0.4rem;color:#4A4A4A;line-height: 0.56rem;font-weight: normal;}
.qg3 p{width: 100%;text-align: left;font-size: 0.3rem;line-height: 0.4rem;color: #4A4A4A;margin: 0.35rem 0;font-weight: normal;letter-spacing: 0;opacity: 0.9;}
.qg3 i{display: inline-block; font-size: 0.32rem;color:#4A4A4A;line-height: 0.42rem;font-weight: normal;font-style: normal;opacity: 1;}







/*中文*/
.sx22 h1{font-size: 0.4rem;color:#4A4A4A;line-height: 0.5rem;font-weight: bold;}
.sx22 i{display: inline-block; font-size: 0.36rem;color:#4A4A4A;line-height: 0.56rem;font-weight: bold;font-style: normal;opacity: 1;}
.qg2 .lis_qg{margin: 0.1rem 0;}
.qg2 .lis_qg1 li p{margin: 0.2rem 0;line-height: 0.46rem;padding: 0.2rem 0;}
.qg22 h1{margin-top: 0.4rem;font-size: 0.34rem;font-weight: bold;}
.qg33 h1{width: 100%;text-align: left; font-size: 0.44rem;color:#4A4A4A;line-height: 0.56rem;font-weight: normal;}
.qg33 i{display: inline-block; font-size: 0.32rem;color:#4A4A4A;line-height: 0.42rem;font-weight: normal;font-style: normal;opacity: 1;}




















